ul {
  list-style: none;
  margin: 0;
}
.Feedback__controls {
  display: flex;
  max-width: 200px;
  /* flex-direction: row; */
  justify-content: space-around;
}
.feedback_container {
  padding: 40px;
}
.Feedback__option {
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
